<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 <display-name>PlinthOS</display-name>
	
 <servlet>
  <servlet-name>PlinthosInitServlet</servlet-name>
  <servlet-class>org.plinthos.core.PlinthosInitServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
  <servlet>
    <servlet-name>PlinthosServiceGateway</servlet-name>
    <display-name>This is a basic PlinthOS service gateway </display-name>
    <description>A rudimentary implementation of a proxy for a PlinthOS service based on the simplest XML-RPC</description>
    <servlet-class>org.plinthos.service.PlinthosServiceGateway</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PlinthosServiceGateway</servlet-name>
    <url-pattern>/service/PlinthosServiceGateway</url-pattern>
  </servlet-mapping>

 <!-- The welcome file -->
 <welcome-file-list>
  <welcome-file>plinthos.html</welcome-file>
 </welcome-file-list>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
